@model IEnumerable<MyCMS.Models.Model.User>

@{
    ViewData["Title"] = "مدیریت کاربران";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline btn-success" asp-action="Create">افزود کاربر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <form asp-action="Search" method="get">
            <th class="text-left">
                جستجو :
            </th>
            <th colspan="4">
                <input type="search" name="param" class="form-control"
                       placeholder="عبارت مورد نظر را وارد کنید" />
            </th>
            <th>
                <input type="submit" value="بیاب" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">همه</a>
            </th>
            </form>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @item.CreateDate.ToShamsi()
                </td>
                <td>
                    @item.ModifiedDate?.ToShamsi()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    <a asp-action="Edit"
                       class="btn btn-outline btn-warning btn-sm"
                       asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-outline btn-info btn-sm">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-outline btn-danger btn-sm">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.PageCount > 1)
{
    <div class="col-sm-6">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    <li class="paginate_button @((ViewBag.PageId == i) ? "active" : "")">
                        <a asp-area="Admin"
                           asp-controller="Users"
                           asp-action="Index"
                           asp-route-PageId="@i">@i</a>
                    </li>

                }
            </ul>
        </div>
    </div>
}